/* ================= HEADER ================= */

header {
    position: fixed;
    width: 100%;
    background: black;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo-text {
    color: var(--white);
    font-weight: 600;
}

/* MENU DESKTOP */

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-link {
    color: var(--white);
    padding: 8px 16px;
    border-radius: 30px;
    transition: 0.3s;
}

.nav-link:hover {
    background: var(--gold);
}

/* BOTÃO HAMBURGUER */

.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

    /* Mostrar hambúrguer */
    .menu-toggle {
        display: block;
        z-index: 1001;
    }

    /* Menu lateral */
    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 260px;
        height: 100vh;
        background: #111;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        transition: right 0.4s ease;
        z-index: 1000;
    }

    .nav-menu.active {
        right: 0;
    }
}

#menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: 999;
}

#menu-overlay.active {
    display: block;
}
