<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Registro</title>
        
        <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
        <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
        <link href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth-flash.css') }}">
</head>
<body>
    
    <div class="wrapper">
        <form action="/registro" method="POST">
            <h1>Criar uma conta</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for categoria, mensagem in messages %}
              <div class="mensagem {{ categoria }}">
                {{ mensagem }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

            <div class="input-box">
                <input type="text" name="email" placeholder="E-mail" required>
                <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20"  
fill="currentColor" viewBox="0 0 24 24" >
<path d="M12 12c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5m0-8c1.65 0 3 1.35 3 3s-1.35 3-3 3-3-1.35-3-3 1.35-3 3-3M4 22h16c.55 0 1-.45 1-1v-1c0-3.86-3.14-7-7-7h-4c-3.86 0-7 3.14-7 7v1c0 .55.45 1 1 1m6-7h4c2.76 0 5 2.24 5 5H5c0-2.76 2.24-5 5-5"></path>
</svg>
            </div>
            <div class="input-box senha-box">
                <div id="msg-senha" class="msg-senha"></div>
                <input maxlength="20" class="senha-input" type="password" id="senha" name="senha" placeholder="Senha" required>

                <div id="toggleSenha" class="toggle-senha" role="button" tabindex="0" aria-label="Mostrar Senha">

                    <!--OLHO ABERTO-->
                    <svg  id="olho-aberto" xmlns="http://www.w3.org/2000/svg" width="16" height="16"  
fill="currentColor" viewBox="0 0 24 24" >
<path d="M12 9a3 3 0 1 0 0 6 3 3 0 1 0 0-6"></path><path d="M12 19c7.63 0 9.93-6.62 9.95-6.68.07-.21.07-.43 0-.63-.02-.07-2.32-6.68-9.95-6.68s-9.93 6.61-9.95 6.67c-.07.21-.07.43 0 .63.02.07 2.32 6.68 9.95 6.68Zm0-12c5.35 0 7.42 3.85 7.93 5-.5 1.16-2.58 5-7.93 5s-7.42-3.84-7.93-5c.5-1.16 2.58-5 7.93-5"></path>
</svg>
                    <!--OLHO FECHADO-->
                    <svg id="olho-fechado" xmlns="http://www.w3.org/2000/svg" width="16" height="16"  
fill="currentColor" viewBox="0 0 24 24" >
<path d="m21.95 12.32-1.9-.64C19.98 11.9 18.16 17 12 17s-7.98-5.1-8.05-5.32l-1.9.63s.28.8.93 1.81L.7 15.85l1.21 1.6 2.3-1.74c.58.62 1.29 1.24 2.16 1.77l-1.51 2.48L6.57 21l1.62-2.65c.83.3 1.78.5 2.82.59v3.05h2v-3.05c1.05-.08 1.99-.29 2.82-.59L17.45 21l1.71-1.04-1.51-2.48c.87-.53 1.58-1.15 2.16-1.77l2.3 1.74 1.21-1.6-2.28-1.73c.65-1.01.92-1.79.93-1.81Z"></path>
</svg>

                </div>

                 <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20"  
fill="currentColor" viewBox="0 0 24 24" >
<path d="M6 22h12c1.1 0 2-.9 2-2v-9c0-1.1-.9-2-2-2h-1V7c0-2.76-2.24-5-5-5S7 4.24 7 7v2H6c-1.1 0-2 .9-2 2v9c0 1.1.9 2 2 2M9 7c0-1.65 1.35-3 3-3s3 1.35 3 3v2H9zm-3 4h12v9H6z"></path>
</svg>
            </div>
            
            <button type="submit" class="btn">Registrar</button>

            <div class="register-link">
                <p>Já tem uma conta? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>

</body>
</html>